django==4.1.5
django-allauth==0.54.0
djangorestframework==3.14.0
drf-spectacular==0.25.1
django-bootstrap4==23.2
django-storages==1.14.2
beautifulsoup4==4.12.2
pandas==1.4.3
finance-datareader==0.9.66
dart-fss==0.4.7
requests==2.31.0
Backtesting==0.3.3
matplotlib==3.5.2
plotly
TA-Lib @ file:///C:/TA_Lib-0.4.24-cp38-cp38-win_amd64.whl#sha256=26d934a971a39a18e265f8b5999eb1a7d6c8fb8fca36a88881fcbb05d6138bc4