{% load static %}
{% load bootstrap4 %}
{% block content %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    {% comment %} <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> {% endcomment %}
    {% comment %} <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Quantus Project</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Nav Item - BackTestboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'backtest' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>BackTestboard</span></a>
            </li>

            <!-- Nav Item - Tables -->
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'tables' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li> {% endcomment %}

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                </nav>

                <div class="container">
                    <div class="button-section">
                        <!-- 검색 바 -->
                        <input type="text" id="searchBar" onkeyup="filterButtons()" placeholder="검색...">
                    
                        <!-- 버튼 목록 -->
                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <div id="buttonContainer">
                                <div class="scrollContainer">
                                    {% for Stock in StockList %}
                                        <button class="StockButton" name="button_name" value="{{ Stock.0 }}" data-name="{{ Stock.1 }}" onclick="changeButtonColor(this)">{{ Stock.1 }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="table-section">
                        <table>
                            <thead>                        
                                <tr>
                                    <th>주요재무정보 (분기별)</th>
                                    <th>ROE</th>
                                    <th>PER</th>
                                    <th>PBR</th>
                                    <th>부채 비율</th>
                                    <th>배당률</th>
                                    <th>배당 성향</th>
                                </tr>     
                                {% for stock in StockDataQuarter %}
                                <tr>
                                    <th>{{ stock.quarter }}</th>
                                    <th>{{ stock.roe }}</th>
                                    <th>{{ stock.per }}</th>
                                    <th>{{ stock.pbr }}</th>
                                    <th>{{ stock.debt_ratio }}</th>
                                    <th>{{ stock.dividend_yield }}</th>
                                    <th>{{ stock.dividend_propensity }}</th>
                                </tr>    
                                {% endfor %}              
                            </thead>
                        
                        </table>
                        
                        <p></p>

                        <table>
                            <thead>                        
                                <tr>
                                    <th>주요재무정보 (연도별)</th>
                                    <th>ROE</th>
                                    <th>PER</th>
                                    <th>PBR</th>
                                    <th>부채 비율</th>
                                    <th>배당률</th>
                                    <th>배당 성향</th>
                                </tr>     
                                {% for stock in StockDataYear %}
                                <tr>
                                    <th>{{ stock.year }}</th>
                                    <th>{{ stock.roe }}</th>
                                    <th>{{ stock.per }}</th>
                                    <th>{{ stock.pbr }}</th>
                                    <th>{{ stock.debt_ratio }}</th>
                                    <th>{{ stock.dividend_yield }}</th>
                                    <th>{{ stock.dividend_propensity }}</th>
                                </tr>    
                                {% endfor %}              
                            </thead>
                        </table>
                        
                        <p></p>

                        <table>
                            <thead>                        
                                <tr>
                                    <th>주요재무정보 (최종)</th>
                                    <th>ROE</th>
                                    <th>ROA</th>
                                    <th>PER</th>
                                    <th>PBR</th>
                                    <th>부채 비율</th>
                                </tr>     
                                {% for stock in StockFinancialData %}
                                <tr>
                                    <th>{{ stock.name }}</th>
                                    <th>{{ stock.roe }}</th>
                                    <th>{{ stock.roa }}</th>
                                    <th>{{ stock.per }}</th>
                                    <th>{{ stock.pbr }}</th>
                                    <th>{{ stock.debt_ratio }}</th>
                                </tr>    
                                {% endfor %}              
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
    
    <script>
        // 버튼 필터링 함수
        function filterButtons() {
            var input, filter, container, buttons, i;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            container = document.getElementById("buttonContainer");
            buttons = container.getElementsByTagName("button");
        
            for (i = 0; i < buttons.length; i++) {
                var btn = buttons[i];
                var name = btn.getAttribute('data-name');
                if (name.toUpperCase().indexOf(filter) > -1) {
                    btn.style.display = "";
                } else {
                    btn.style.display = "none";
                }
            }
        }

    </script>
</body>

</html>

{% endblock%}